html {
    font-size: 10px;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    margin-top: 15rem;
}

table {
    background: url(../hinh/login.jpg) no-repeat right center /contain;
    border: 2px dashed #B90003;
    border-radius: 1rem;
    width: 35%;
    height: 30rem;
    padding: 5px;
    margin: auto;
}

th {
    color: #B90003;
}

.txt {
    background-color: rgba(207, 6, 9, 0.3);
    border: 2px dashed #B90003;
    border-radius: 1rem;
    padding: 5px;
}

.btn {
    background-image: linear-gradient(#B90003, #ff0000);
    border-radius: 10px;
    border: 2px solid orange;
    color: #FFFFFF;
    font-weight: bold;
    pad: 5px;
}

#thongbao {
    color: #B90003;
    font-style: italic;
}